# Node
node_modules/
*/node_modules/
**/node_modules/

# Build
frontend/build/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
.docker/